*{
  margin: 0;
  padding: 0;
  color: rgb(253, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
}


main {
  
}

article{
  position: relative;
}


.nav-bar {
  background-color: black;
}


.nav-items {
  background-color: rgb(56, 57, 57);
  
}


.about {
  background-color: rgb(67, 67, 67);
}

.work {
  background-color: rgb(92, 91, 91);

}
.extra {
  background-color: darkgrey;
}
.extra1 {
  background-color: rgb(206, 205, 203);
}

.projects {
  background-color: rgb(124, 124, 124);
}

.footer {
  background-color: black;
}