   /* RESET */
*{
  margin: 0;
  padding: 0;
}

/* GRID */
main{
  display: grid;
  grid-gap: 5px;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows:  repeat(5, 1fr); */
  grid-template-areas:
  "h h h h h h h h h h h h"
  "a a a a a a a a a a a a"
  "w w w w w w w w w w w w"
  "c c c c c c c c c c c c"
  "f f f f f f f f f f f f" ;
  
}
   /* GRID  HEADER SECTION */
.header-section{
  grid-area: h;
  background-color: lightcoral;
  height: 600px;
  width: 100%; 
}
/* navigation */

nav{
  height: 120px;
  width: 100%;
  background-color: rgb(26, 25, 25);
}
article{
  color: white;
  padding: .9rem;
}
.avatar{
  display: inline-block;
}

ul{
  float: right;
}

a{
  display: inline-block;
  padding: 3rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  color: white; 
  text-decoration: none;
}
h2{
  text-align: center;
  color: white;
}
/* GRID ABOUT SECTION  */
.about-section{
  grid-area: a;
  background-color: brown;
  height: 600px;
  width: 100%; 
}





  /* GRID WORK SECTION */
.work-section{
  grid-area: w;
  background-color: chocolate;
  height: 600px;
  width: 100%; 
}
 /* GRID CONTACT SECTION  */
.contact-section{
  grid-area: c;
  background-color: darkgoldenrod;
  height: 600px;
  width: 100%; 
}
/* GRID FOOTER SECTION */
.footer{
  grid-area: f;
  background-color: rgb(31, 31, 31);
  height: 600px;
  width: 100%; 
}